<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.rssnewsfeed"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="19" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" >
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".Homepage"
			android:label="@string/title_activity_homepage" >
		</activity>
		<activity
			android:name=".Sports"
			android:label="@string/title_activity_sports" >
		</activity>
		<activity
			android:name=".Entertainment"
			android:label="@string/title_activity_entertainment" >
		</activity>
		<activity
			android:name=".Technology"
			android:label="@string/title_activity_technology" >
		</activity>
		<activity
			android:name=".Politics"
			android:label="@string/title_activity_politics" >
		</activity>
		<activity
			android:name=".Settings"
			android:label="@string/title_activity_settings" >
		</activity>
		<activity
			android:name=".Newspage"
			android:label="@string/title_activity_newspage" >
		</activity>
	</application>

</manifest>
